
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700;900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}
.active {
  background: black;
  color: white;
}
button {
  border: 1px solid black;
  padding: 0.5rem;
}
.mainCont{
  width: 99vw;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  border: 4px solid #1864AB;
}
.contentCont{
  
}
.counter{
  font-size: 64px;
  font-weight: 600;
}
.textCenter{
  text-align: center;
}

.counterBtnCont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-gap: 2rem;
}
.counterBtnCont > button{
  padding: 1rem 2rem;
  font-size: 32px;
  background-color: #FAB005;
  border: 2.5px black solid;
  font-weight: 500;
  
}